@media screen and (min-width:900px) {


    form{
        margin-left: 33vw !important;
        color: #000 !important;
    }
    label{
        color: #000 !important;
    }
    .btn{
        margin-left: 10vw !important;
    }
    .heading{
        margin-top: -15vw !important;
        margin-left: 8vw !important;
        color: #fff !important;
        font-family: 'Roboto Slab' !important;
    }
}

.btn{
    background:#2D8B70 !important;
    width:150px !important;
}

