@media screen and (min-width:900px) {
    section form {
        margin-top: 10vw !important;
        margin-left: 30vw !important;
    }

    .radio-form {
        margin-left: -2vw !important;
        display: flex;
    }

    .radio-form input {
        margin-top: 1vw !important;
        margin-left: 0.2vw !important;
    }

    .radio-form label {
        margin-top: 1vw !important;
    }
}

body {
    color: #000 !important;
}
.reset{
    background: #eee !important;
}