<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home - Complaint Management</title>
    <script src="https://kit.fontawesome.com/36a2be57d1.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700;800;900&display=swap" rel="stylesheet">    <link rel="icon" href="../../static/images/favicon.png">


    <link rel="icon" href="../../static/images/favicon.png">

</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button> <a class="navbar-brand" href="/home"
                style="letter-spacing:0px;margin-left:100px !important;;"><img src="../../static/images/logo-nav.png" style="width:50px;height:50px; "> </a>

{% for i in user %}
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link active" href="/home">Home</a>
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                    <a class="nav-link" href="/contactus">Contact Us</a>
                    <a class="nav-link" href="{% url 'account' i.id %}">Account</a>
                    <a class="nav-link" href="/signout">Logout</a>
                </ul>
            </div>
{% endfor %}
        </div>
    </nav>
    <br><br>
    <section>
        <div class="banner-home">
            <div class="card card-1 col-md-7">
                <div class="card-body">
                    <h2 class="card-title">Handling customer complaints<br>
                        is easy now.</h2><br>
                    <p class="card-text">We helps you receive, respond to, and resolve<br>
                        customer grievances with simple solutions, and leaves <br>
                        you with more time for tasks that matter.</p>
                </div>
            </div>
            <div class="card col-md-5">
                <div class="card-body banner-img">
                    <img src="static/images/home-banner.jpeg">
                </div>
            </div>
        </div><br><br>
        <div class="heading-home">
            <h4>	
                &#128075; {{user.username}}, do you have a complaint? Raise your ticket by filling the respective form.</h4>
        </div><br>
        <div class="complaints">
            <a href="/complaint">
            <div class="card" style="width: 18rem;">
                <img src="static/images/water.png" class="card-img-top" alt="Sunset Over the Sea"/>
                <div class="card-body">
                  <p class="card-text">Water</p>
                </div>
              </div>
            </a>
            <a href="/complaint">

              <div class="card" style="width: 18rem;">
                <img src="static/images/light.png" class="card-img-top" alt="Sunset Over the Sea"/>
                <div class="card-body">
                  <p class="card-text">Light</p>
                </div>
              </div></a>
              <a href="/complaint">

              <div class="card" style="width: 18rem;">
                <img src="static/images/clean.png" class="card-img-top" alt="Sunset Over the Sea"/>
                <div class="card-body">
                  <p class="card-text">Cleanliness</p>
                </div>
              </div></a>
              <a href="/complaint">

              <div class="card" style="width: 18rem;">
                <img src="static/images/other.jpg" class="card-img-top" alt="Sunset Over the Sea"/>
                <div class="card-body">
                  <p class="card-text">Other</p>
                </div>
              </div></a>
        </div>
    </section><br><br><br><br><br>
</body>
<script src="bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>

</html>